:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-gallery {
    max-width: 95rem;
    margin: 0 auto;
    padding: 0 2rem;
    border-top: solid #DBDBDB 1px;
}

.container-gallery-homepage {
    max-width: 90%;
    margin: 0 auto;
    border-top: solid #DBDBDB 1px;
}

/* Navbar Section*/

.navbar {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper {
    position: absolute;
    top: -10%;
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 268px;
    height: 36px;
    background: #EFEFEF;
    border: 0;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.icon {
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-user-details,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-details {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-follow-btn {
    background-color: #0095F6;
    color: white;
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.5rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
    position: absolute;
    transform: translateY(15%);
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-follow-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    justify-content: center;
}

.gallery-item {
    position: relative;
    margin: 1rem;
    color: #fff;
}

.gallery-item-homepage {
    position: relative;
    margin: 1rem;
    color: #fff;
}

.gallery-item-homepage img{
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
    border-left: 2px solid #dbdbdb;
}

.gallery-image {
    width: 285px;
    height: 285px;
    object-fit: cover;
    cursor: pointer;
}

.gallery-image-homepage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.gallery-item-homepage img{
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
    border-left: 2px solid #dbdbdb;
}

.gallery-choice {
    padding-top: 2rem;
    display: inline-flex;
}

.gallery-choice>div:first-child {
    margin-left: 27rem;
}

.gallery-choice>div:last-child {
    margin-left: 20rem;
}

.choice-items {
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
}

.choice-items img {
    margin-right: 5px;
}

.choice-items a {
    text-decoration: none;
    color: black;
}

.grey {
    color: #bdbdbd;
}

.black {
    color: black;
}

.user-info {
    border-top: 2px solid #dbdbdb;
    border-left: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.username {
    margin: auto;
    text-decoration: none;
    color: black;
}

.homepage-bttn {
    text-decoration: none;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    margin: 1rem;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.flip-card-back iframe {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.flip-card-back iframe::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.wrapper-dropdown {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

.input-dropdown {
    display: none;
}

.label-dropdown {
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 3px solid #3E474F;
    user-select: none;
}

.label-dropdown div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10%;
    font-size: 1.2em;
}

.cross{
    margin-right:15px;
    margin-top:3px;
}

.cross:before,.cross:after {
    content: '';
    border-top: 2px solid #3E474F;
    width: 15px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}

.cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}

.city-dropdown a {
    font-size: 1.5rem;
}

.content-dropdown {
    margin-top: 2rem;
    box-sizing: border-box;
    font-size: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
    text-align: center;
}

.input-dropdown:checked ~ .content-dropdown {
    max-height: none;
    transition: max-height, 1s;
}

.input-dropdown:checked ~ .label-dropdown .cross:before {
    transform: rotate(180deg);
}

.input-dropdown:checked ~ .label-dropdown .cross:after {
    transform: rotate(0deg);
}