<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inst'Artists</title>
    <link rel="stylesheet" href="/templates/styles/style.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-wrapper">
        <a href="homepage.html">
            <img src="resources/logo.png" class="brand-img">
        </a>
        <form action="/search" method="get" class="search-box">
            <input name="name" type="text" class="search-box" placeholder="Rechercher">
        </form>
        <div class="nav-items">
            <a href="homepage.html" class="homepage-bttn">
                <img src="resources/home.svg" class="icon">
            </a>
            <img src="resources/discover.svg" class="icon">
            <img src="resources/like.svg" class="icon">
        </div>
    </div>
</nav>
<div class="albums">
    <div class="container-gallery-homepage">
        <div class="gallery">
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username" href="profile.html">Travis Scott</a>
                </div>
                <a href="profile.html">
                    <img src="https://pbs.twimg.com/profile_images/634514155261833216/czgYrPLQ_400x400.jpg"
                         class="gallery-image-homepage">
                </a>
            </div>
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username">test-username</a>
                </div>
                <img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop"
                     class="gallery-image-homepage">
            </div>
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username">test-username</a>
                </div>
                <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop"
                     class="gallery-image-homepage">
            </div>
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username">test-username</a>
                </div>
                <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
                     class="gallery-image-homepage">
            </div>
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username">test-username</a>
                </div>
                <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
                     class="gallery-image-homepage">
            </div>
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username">test-username</a>
                </div>
                <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
                     class="gallery-image-homepage">
            </div>
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username">test-username</a>
                </div>
                <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
                     class="gallery-image-homepage">
            </div>
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username">test-username</a>
                </div>
                <img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop"
                     class="gallery-image-homepage">
            </div>
        </div>
    </div>
</div>
</body>
</html>