<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inst'Artists</title>
    <link rel="stylesheet" href="/templates/styles/style.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-wrapper">
        <a href="homepage">
            <img src="/templates/resources/logo.png" class="brand-img">
        </a>
        <form action="/search" method="get" class="search-box">
            <input name="name" type="text" class="search-box" placeholder="Rechercher">
        </form>
        <div class="nav-items">
            <a href="homepage" class="homepage-bttn">
                <img src="/templates/resources/home.svg" class="icon">
            </a>
            <a href="profile?id={{.RandomId}}" class="homepage-bttn">
                <img src="/templates/resources/discover.svg" class="icon">
            </a>
            <img src="/templates/resources/like.svg" class="icon">
        </div>
    </div>
</nav>
<div class="albums">
    <div class="container-gallery-homepage">
        <div class="gallery">
            {{range .Artists}}
            <div class="gallery-item-homepage">
                <div class="user-info">
                    <a class="username" href="profile?id={{.Id}}">{{.Name}}</a>
                </div>
                <a href="profile?id={{.Id}}">
                    <img src={{.Image}}
                         class="gallery-image-homepage">
                </a>
            </div>
            {{end}}
        </div>
    </div>
</div>
</body>
</html>