<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inst'Artists</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-wrapper">
        <img src="resources/logo.png" class="brand-img" alt="">
        <input type="text" class="search-box" placeholder="Rechercher">
        <div class="nav-items">
            <img src="resources/home.svg" class="icon" alt="">
            <img src="resources/discover.svg" class="icon" alt="">
            <img src="resources/like.svg" class="icon" alt="">
        </div>
    </div>
</nav>
</body>
</html>