<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inst'Artists</title>
    <link rel="stylesheet" href="/templates/styles/style.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-wrapper">
        <a href="homepage">
            <img src="/templates/resources/logo.png" class="brand-img">
        </a>
        <input type="text" class="search-box" placeholder="Rechercher">
        <div class="nav-items">
            <a href="homepage" class="homepage-bttn">
                <img src="/templates/resources/home.svg" class="icon">
            </a>
            <img src="/templates/resources/discover.svg" class="icon">
            <img src="/templates/resources/like.svg" class="icon">
        </div>
    </div>
</nav>
<div class="user-profile">
    <div class="container">
        <div class="profile">
            <div class="profile-image">
                <img src={{.Artist.Image}}>
            </div>
            <div class="profile-user-details">
                <h1 class="profile-user-name">{{.Artist.Name}}</h1>
                <button class="btn profile-follow-btn">Suivre</button>
            </div>
            <div class="profile-stats">
                <ul>
                    <li>
                        <span class="profile-stat-count">5</span>
                        albums
                    </li>
                    <li>
                        <span class="profile-stat-count">39M</span>
                        auditeurs
                    </li>
                    <li>
                        Since
                        <span class="profile-stat-count">{{.Artist.CreationDate}}</span>
                    </li>
                </ul>
            </div>
            <div class="profile-bio">
                <p>
                    {{range .Artist.Members}}
                    {{.}}.
                    {{end}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="albums">
    <div class="container-gallery">
        <div class="gallery-choice">
            <div class="choice-items">
                <a href="profile?id={{.Artist.Id}}">
                    <img src="/templates/resources/grid-black.svg">
                    <span class="black">ALBUMS</span>
                </a>
            </div>
            <div class="choice-items">
                <a href="profiledates?id={{.Artist.Id}}">
                    <img src="/templates/resources/dates-grey.svg">
                    <span class="grey">CONCERTS</span>
                </a>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop"
                     class="gallery-image">
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop"
                     class="gallery-image">
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop"
                     class="gallery-image">
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
                     class="gallery-image">
            </div>
        </div>
    </div>
</div>
</body>
</html>