<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inst'Artists</title>
    <link rel="stylesheet" href="/templates/styles/style.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-wrapper">
        <a href="homepage">
            <img src="/templates/resources/logo.png" class="brand-img">
        </a>
        <input type="text" class="search-box" placeholder="Rechercher">
        <div class="nav-items">
            <a href="homepage" class="homepage-bttn">
                <img src="/templates/resources/home.svg" class="icon">
            </a>
            <a href="profile?id={{.RandomId}}" class="homepage-bttn">
                <img src="/templates/resources/discover.svg" class="icon">
            </a>
            <img src="/templates/resources/like.svg" class="icon">
        </div>
    </div>
</nav>
<div class="user-profile">
    <div class="container">
        <div class="profile">
            <div class="profile-image">
                <img src={{.Artist.Image}}>
            </div>
            <div class="profile-user-details">
                <h1 class="profile-user-name">{{.Artist.Name}}</h1>
                <button class="btn profile-follow-btn">Suivre</button>
            </div>
            <div class="profile-stats">
                <ul>
                    <li>
                        <span class="profile-stat-count">{{ len .Albums }}</span>
                        albums
                    </li>
                    <li>
                        <span class="profile-stat-count">{{.ArtistApi.NbFan}}</span>
                        auditeurs
                    </li>
                    <li>
                        Since
                        <span class="profile-stat-count">{{.Artist.CreationDate}}</span>
                    </li>
                </ul>
            </div>
            <div class="profile-bio">
                <p>
                    {{range .Artist.Members}}
                    {{.}}.
                    {{end}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="albums">
    <div class="container-gallery">
        <div class="gallery-choice">
            <div class="choice-items">
                <a href="profile?id={{.Artist.Id}}">
                    <img src="/templates/resources/grid-grey.svg">
                    <span class="grey">ALBUMS</span>
                </a>
            </div>
            <div class="choice-items">
                <a href="profiledates?id={{.Artist.Id}}">
                    <img src="/templates/resources/dates-black.svg">
                    <span class="black">CONCERTS</span>
                </a>
            </div>
        </div>
        {{range .Locations}}
        {{$LatLong:=index $.LatsLongs .}}
        <div class="wrapper-dropdown">
            <div class="dropdown-item">
                <input type="radio" class="input-dropdown" id={{.}} name="tabs">
                <label class="label-dropdown" for={{.}}>
                    <div class="city-dropdown"><a style="font-weight: bold">{{.}}</a></div>
                    <div class="cross"></div>
                </label>
                <div class="content-dropdown">{{range index $.DatesLocations .}}{{.}}<br>{{end}}
                    <div id='mapouter' style='text-align:center;width:100%; height:500px;'>
                        <div style='overflow:hidden;background:none!important;width:100%; height:500px;'
                             id='gmap_canvasid'>
                            <iframe style='width:100%; height:500px;' id='gmap_canvas'
                                    src='https://maps.google.com/maps?q={{index $LatLong "lat"}},{{index $LatLong "lng"}}&t=&z=13&ie=UTF8&output=embed'
                                    frameborder='0'
                                    scrolling='no' marginheight='0' marginwidth='0'></iframe>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
</body>
</html>